@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --mainColor: #000;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./font/Alimama_ShuHeiTi_Bold.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

body {
  display: grid;
  color: var(--mainColor);
  font-family: system-ui;
  overflow-wrap: break-word;
  user-select: none;
  backface-visibility: hidden;
  background: url(../public/assets/ele.png);
  font-family: "Roboto";
}

a {
  color: rgb(0 0 100% / 90%);
}
